.ylColor {
  position: absolute;
  z-index: 99999;
  width: 250px;
  background: #fff;
  box-shadow: 1px 1px 2px #c6d9f1, -1px -1px 2px #c6d9f1;
  font-size: 14px;
  color: #000;
}
.ylColor .aCol {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 7px 7px 0;
  border: 1px solid #eee;
  cursor: pointer;
}
.ylColor .aCol:nth-child(10n) {
  margin-right: 0;
}
.ylColor-default {
  padding: 7px;
}
.ylColor-custom ul {
    overflow: hidden;
   padding: 7px 7px 0;
}
.ylColor .title {
  padding: 7px;
  background-color: #f4f4f8;
}
